<section class="contact section-container">
    <img class="svg-border contact-top" src="data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='isolation:isolate' viewBox='-4.5 3018.5 1448.5 48' width='1448.5' height='48'><path d=' M 0 3023 L 722 3062 L 1439.5 3023.464 L 0 3023 Z ' fill='rgb(255,255,255)' vector-effect='non-scaling-stroke' stroke-width='3' stroke='rgb(255,255,255)' stroke-linejoin='miter' stroke-linecap='square' stroke-miterlimit='3'/></svg>" />

    <h2 class="featured">{{content.section_title}}</h2>

    <div class="form container wpjs slide-bottom">
        {{content.forms_code}}
{#         <form action="" method="" id="contact">
            <div class="row">
                <input id="name" type="text" placeholder="Name">
            </div>
            <div class="row">
                <input id="email" type="text" placeholder="Email">
            </div>
            <div class="row">
                <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
            </div>
            <div class="row"><input type="submit" id="submit" class="btn" value="Submit"></div>
        </form> #}
    </div>
</section>