{% extends "base.twig" %}

{% block content %}
<section class="hero-container">
        <div class="introduction animate fade-in">
            <h1>404 - Not Found</h1>
            <p>There's something wrong here!</p>


    </div>
    <div id="arrow"></div>
</section>{% endblock %}